<div class="main-atendimento">
    <div style="text-align:center;">
        <img style="width: 100%;" src="./libs/img/banner-consorcio.jpg" alt="">
    </div>
    <section class="consultor">
        <h3>Fale Comigo</h3>
        <div class="profile">
            <img src="{{api + consultor.foto}}" alt="">
        </div>
        <div class="info">
           <a class="nome">{{consultor.nome}}</a>
           <a class="cargo">Supervisor de Vendas</a>
           <a href="tel:{{consultor.celular}}" class="celular btn btn-default">
               <i class="fa fa-phone"></i> 
               {{consultor.celular | cel}}
            </a>
            <a href="https://api.whatsapp.com/send?phone=55{{consultor.celular}}&text=Ol%C3%A1%2C%20visitei%20seu%20site%20e%20gostaria%20de%20uma%20simula%C3%A7%C3%A3o" class="celular btn btn-default">
                <i class="fa fa-whatsapp"></i> 
                Whatsapp
            </a>
            <a href="mailto:{{consultor.email}}" class="celular btn btn-default">
                <i class="fa fa-envelope"></i> 
                {{consultor.email}}
            </a>
        </div>
    </section>
    <section class="simulacao">
        <h3>Solicite uma Simulação</h3>
        <a class="btn btn-default">
            <i class="fa fa-car"></i>
            Automóveis
        </a>
        <a class="btn btn-default">
            <i class="fa fa-home"></i>
            Imóveis
        </a>
        <a class="btn btn-default">
            <i class="fa fa-motorcycle"></i>
            Motos
        </a>
        <a class="btn btn-default">
            <i class="fa fa-cog"></i>
            Serviços
        </a>
        <a class="btn btn-default">
            <i class="fa fa-truck"></i>
            Pesados
        </a>
    </section>
    <section class="informativos">
        <h3>Informativos</h3>
        <a class="btn btn-default">Como Funciona</a>
        <a class="btn btn-default">Quais as Vantagens</a>
    </section>
    <section class="localizacao">
        <h3>Faça uma Visita</h3>
        <a class="endereco">
            <i class="fa fa-map-marker"></i>
            R. Jorge Veiga, 17 - Eldorado, Manaus - AM, 69050-380
        </a>
        <div class="como-chegar ">
            <a class="btn btn-default" ng-click="rota()">Veja Como Chegar</a>
        </div>
        <div id="map" style="height:400px;padding: 10px 0px 11px 0px;" class="leaflet-control-zoom"></div>
    </section>
</div>