<div ng-include="'app/views/common/header.html'"></div>
<section style="padding:0px;">
    <h4 align="center">Agendamentos</h4>
    <div class="agendamentos">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="obj in agendas">
                <div><b>Data/Hora:</b> {{obj.datahora | datahora}}</div>
                <div><b>Cliente:</b> {{obj.cliente}}</div>
                <div><b>Tipo:</b> {{obj.tipo | nomeProprio}}</div>
                <div><b>Observação:</b> {{obj.observacao}}</div>
            </li>
        </ul>
    </div>
</section>
<div class="notification animated swing">
    <a ng-click="clickNotification()">
        <span>3</span>
        <i class="fa fa-bell"></i>
    </a>
</div>